# Title

## Introduction

## Preliminary Results

In [3]:
library(tidyverse)
library(tidymodels)
set.seed(12345)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.4     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [5]:
# Read and filter the data set
adult_data <- read_csv("data/adult.data")
head(adult_data)
# Compute estimates


# Plot the data

Rows: 32560 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): State-gov, Bachelors, Never-married, Adm-clerical, Not-in-family, W...
dbl (6): 39, 77516, 13, 2174, 0, 40

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  39 State-gov        77516  Bachelors 13 Never-married
1 50 Self-emp-not-inc  83311 Bachelors 13 Married-civ-spouse
2 38 Private          215646 HS-grad    9 Divorced
3 53 Private          234721 11th       7 Married-civ-spouse
4 28 Private          338409 Bachelors 13 Married-civ-spouse
5 37 Private          284582 Masters   14 Married-civ-spouse
6 49 Private          160187 9th        5 Married-spouse-absent
  Adm-clerical      Not-in-family White Male   2174 0 40 United-States <=50K
1 Exec-managerial   Husband       White Male   0    0 13 United-States <=50K
2 Handlers-cleaners Not-in-family White Male   0    0 40 United-States <=50K
3 Handlers-cleaners Husband       Black Male   0    0 40 United-States <=50K
4 Prof-specialty    Wife          Black Female 0    0 40 Cuba          <=50K
5 Exec-managerial   Wife          White Female 0    0 40 United-States <=50K
6 Other-service     Not-in-family Black Female 0    0 16 Jamaica       <=50K

## Method: Plan

## References